### Jupyter notebook demo from Python Tri-Cities, WA interest group

In this notebook we will work with some data from Wikipedia, specifically
the US Cities by population located here:
https://en.wikipedia.org/wiki/List_of_United_States_cities_by_population

Always remember data is never clean!

To run this notebook clone the git repository.
You will also need to have python3 installed.
See this for information on how to do that:
https://github.com/PythonTriCities/starthere/blob/master/README.md
then pip install the requirements.txt file, and start the notebook.
From the git repository type:
```
pip install -r requirements
jupyter notebook
```
If you have trouble or are on a Windows machine try using this:
https://www.anaconda.com/download/

Use the [>| Run] button above or a Shift + Enter on each cell.

In [ ]:
import pandas as pd

In [ ]:
import matplotlib.pyplot as plt

Now lets import the data into what is called a data frame, or df for short.

In [ ]:
df = pd.read_table('data/2016_city_data2')

In [ ]:
df.head()

So we have some data, now let's look at the columns, and determine why they don't line up.

In [ ]:
df.columns

In [ ]:
len(df.columns)

So it looks like we have 9 columns, lets look at the "zeroth" location to see what that looks like

In [ ]:
df.iloc[0]

So it appears that the Name row has a multilevel index, that is 2 values (1, New York[6] )
let's look closer at the index.

In [ ]:
df.index

There it is right at the top, it reads, 'MultiIndex(levels,
so lets reset that index to be one level.

In [ ]:
df = df.reset_index(level=1)

In [ ]:
df.index

In [ ]:
df.head()

Now let's reset our column names, but we need to make sure they line up by length.

In [ ]:
len(df.columns)

In [ ]:
new_col = ['city', 
           'state', 
           '2016 estimated', 
           '2010 census',
           'percent change', 
           '2016 land area mi2',
           '2016 land area km2',
           '2016 population density per mi2', 
           '2016 population density per km2',
           'location']

In [ ]:
len(new_col)

In [ ]:
df.columns = new_col

In [ ]:
df.columns

In pandas it is easier to have columns without spaces, so let's replace them with an '_' them, we could have done it when we entered them above, but what if we had 1000 columns, let's have python do it for us, by looping through each one.

In [ ]:
df.columns = [c.replace(' ', '_') for c in df.columns]

In [ ]:
df.columns

In [ ]:
df.sort_values(by=['2010_census'])

Something is not right with this sort, what could it be, maybe the columns are not numbers, maybe we could sort them again in reverse order with ones that are not a number first.

In [ ]:
df.sort_values(by='2010_census', ascending=False, na_position='first')

No, that is not it, maybe the values are not numbers? Let's look at the type.

In [ ]:
df.dtypes

That is it, they are objects.  Let's convert them to be an integer.
Firs we can remove the ',' and then cast them to be in integer.

In [ ]:
df['2016_estimated'] = df['2016_estimated'].str.replace(',', '').astype(int)

In [ ]:
df['2010_census'] = df['2010_census'].str.replace(',', '').astype(int)

In [ ]:
df.head()

In [ ]:
df.dtypes

In [ ]:
df.sort_values(by=['2010_census'], ascending=False)

So let's verfiy the data in the percent change columm.

In [ ]:
df['increase'] = df['2016_estimated'] - df['2010_census']

In [ ]:
df.head()

In [ ]:
df['new_pct_increase'] = ((df.increase/df['2010_census']) * 100)

In [ ]:
df.head()

In [ ]:
col = df.columns.tolist()

Now let's re-arrange the columns with a classic python slice replacing col[4]

In [ ]:
col[4]

In [ ]:
col = col[:4] + col[-1:] + col[5:-1]

In [ ]:
col

In [ ]:
col[4]

In [ ]:
df.head()

Now we loop through and replace all the column names, substuting an '_' where there is a ' '.

In [ ]:
df.columns = [c.replace(' ', '_') for c in df.columns]

Now we drop a column, by name and with an axis=1 value to indicate we want to drop the column and not a row named 'increase'

In [ ]:
df.drop(['increase'], axis=1)

In [ ]:
df.sort_values(by=['new_pct_increase'], ascending=False)

Find the highest growth rate city

In [ ]:
df.new_pct_increase.max()

Find the lowest growth rate city

In [ ]:
df.new_pct_increase.min()

In [ ]:
%matplotlib inline

This line tells the Jupyter notebook to display the graph in the notebook and not as a seperate window.

In [ ]:
plt.show()

In [ ]:
df.plot(x='city', y='new_pct_increase', style='o')